@model KODOTIFront.Models.UserLoginViewModel
@{
    ViewData["Title"] = "Autenticación";
}

<h1 class="title">@ViewData["Title"]</h1>
<h2 class="subtitle">Bienvenido al sistema</h2>

<form asp-controller="Account" asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewData["returnUrl"]" />
    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input asp-for="Email" class="input" type="email" placeholder="Correo electrónico" required>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Contraseña</label>
        <div class="control has-icons-left has-icons-right">
            <input asp-for="Password" class="input" type="password" placeholder="Password" required>
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input asp-for="RememberMe" type="checkbox"> Recordar mi sesión en este equipo
            </label>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Ingresar</button>
        </div>
        <div class="control">
            <a asp-controller="Account" asp-action="NewUser" class="button is-text">Nuevo usuario</a>
        </div>
    </div>
</form>

